@font-face {
   font-family: 'ApfelGrotezk-Regular';
   src: url('font/ApfelGrotezk-Regular.ttf') format('truetype');;

   /*font-weight: bold;*/
}
@font-face  { 
font-family: 'ApfelGrotezk-Fett';
   src: url('font/ApfelGrotezk-Fett.ttf') format('truetype');;
}

@font-face  { 
font-family: 'ApfelGrotezk-Mittel';
   src: url('font/ApfelGrotezk-Mittel.ttf') format('truetype');;
}

@font-face  { 
font-family: 'ApfelGrotezk-Brukt';
   src: url('font/ApfelGrotezk-Brukt.ttf') format('truetype');;
}

body{
    background-color: #6dc6ba;
    font-family: 'ApfelGrotezk-Regular';
  margin: 0;
      padding: 0;
    
    width: 100%;
    
    
   
}
hr.lineblack{
 border: 1px solid ;
color: black;
}




#audio-control {
  cursor:pointer;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 4px;
  display: inline-block;
}

.testa{
    top: 0;
    position: fixed;
    justify-content: space-between;
display: flex;
    flex-direction: row;
    width: 100%;
     background-color: #6dc6ba;
    padding-bottom: 1%;
    padding-top: 2%;
   z-index: 9999;
}

.logo{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 48pt;
    font-family: 'ApfelGrotezk-Brukt';
    
   flex-basis: 25%;
      box-sizing: border-box; 

    
    
    

}

.link{
   
    padding-top: 0.9em;
    font-size: 24pt;
    font-family: 'ApfelGrotezk-Regular';
    flex-basis: 25%;
    
    
;
}




.testo{
    font-family: 'ApfelGrotezk-Mittel';
    font-size: 24pt;
    padding-bottom: 6%;
    
}

.testo1{
    padding-left: 5%;
}


.container {
      display: flex;
      justify-content: space-between;  
    }
    
    .column {
      flex-basis: 33.33%;
      
      box-sizing: border-box;
      background-color: #6dc6ba;
    }
    
      
      #myVideo{
          width:100%;
          
      }
    h1 {
      color: #333;
      font-size: 24px;
      margin-top: 0;
    }
    


a {
    text-decoration: none;
    color: black;  
    
}

a:hover{
    color: #F0F0F0;
}

p.testo{
    
    font-size: 24pt;
     line-height: 1.4em;
    
}

.descr{
    max-width: 1200px;
  margin: 0px  auto;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 6%;
    font-size: 14pt;
     line-height: 1.4em;
}

.title{
    font-family: 'ApfelGrotezk-Regular';
    font-size: 18pt;
    color: black;
}

.contenitore{
    
    width:100%;
    text-align: center;
    padding-top: 10%;
}
.casa_associazione{
    height:  300px;
    width: auto;
}

footer{
    width: 100%;
    
   
    position: fixed;
    left: 0;
    bottom: 0;
    
   
    
}

.log{
    padding-left: 5%;
    width:100px;
}


.foot_container{
    background-color: #6dc6ba;
    font-family:  'ApfelGrotezk-Mittel';
    font-size: 16pt;
   padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.contatti {
    
    font-family: 'ApfelGrotezk-Mittel';
    font-size: 18pt;
    color: #f0f0f0;
    padding-right: 20%;
}

.contatti1 {
    
    font-family: 'ApfelGrotezk-Mittel';
    font-size: 18pt;
    color: #f0f0f0;
  
}

.mail{
    padding-right: 10%;
}

.ig{
    padding-left:10%;
    }

@media only screen and (max-width: 900px) {
    p{
        font-size: 12pt;
    }
    
    .testa{
        height: 20%;
        top: 0;
    }
    
    .logo{
        font-size: 24pt;
    }
    
    .link{
        font-size:16pt;
    }
    
    .testo{
        font-size: 16pt;
    }
    
    .log{

    }
    
    .contatti{
        font-size:14pt;
    }
    
    .contatti1{
        font-size:14pt;
    }
    
    
}

