@font-face {
   font-family: 'ApfelGrotezk-Regular';
   src: url('font/ApfelGrotezk-Regular.ttf') format('truetype');;

   /*font-weight: bold;*/
}
@font-face  { 
font-family: 'ApfelGrotezk-Fett';
   src: url('font/ApfelGrotezk-Fett.ttf') format('truetype');;
}

@font-face  { 
font-family: 'ApfelGrotezk-Mittel';
   src: url('font/ApfelGrotezk-Mittel.ttf') format('truetype');;
}

@font-face  { 
font-family: 'ApfelGrotezk-Brukt';
   src: url('font/ApfelGrotezk-Brukt.ttf') format('truetype');;
}

body {
    background-color: #6dc6ba; 
    font-family: 'ApfelGrotezk-Regular';
  margin: 0;
      padding: 0;
    
    width: 100%;
}



.generale{
    overflow-y: visible;
    position: center;
    width:100%;
    height: 100% ;
    background-color: #6dc6ba ;
    max-width: 100%;
    padding-bottom: 6%;

    
}

.testa{
    position: fixed;
    justify-content: space-between;
display: flex;
    flex-direction: row;
    width: 100%;
     background-color: #6dc6ba;
    padding-bottom: 1%;
    padding-top: 2%;
   z-index: 9999;
}

.logo{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 48pt;
    font-family: 'ApfelGrotezk-Brukt';
    
   flex-basis: 25%;
      box-sizing: border-box;    

}

.link{
   
    padding-top: 0.9em;
    font-size: 24pt;
    font-family: 'ApfelGrotezk-Mittel';
    flex-basis: 25%;


}
.casamain{
    height: 300px;
    width: 100%;
    padding-top: 10%;
    position:static;
    padding-bottom: 15%;
}

.casa_operazioni{
    height: 30%;
    width: auto;
position: fixed;
    padding-left: 5%;
   
    
}

.operazioni{
    padding-left: 30%;
    position: fixed;
    
    
}

.h3{
    font-family: 'ApfelGrotezk-Mittel';
    
    font-size: 24pt;
    margin-right: 5%;
    padding-bottom: 1%;
}

.P{
    line-height: 1.4em;
    font-family: 'ApfelGrotezk-Regular';
    font-size: 14pt;
    padding-right: 5%;
}
.container{
    padding-top:10%;
    padding-bottom: 6%;
}

.descrizione{
    margin-top: 15px;
    color:#1d1f1d;
    font-size:16px;
    text-align: left;
}

.doc {
    color:#6dc6ba;
    font-size:14px;
    padding:20%;
    text-align: left;
}





.number{
  margin: 0;
  width:1vw;
  margin-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.artist{
  margin: 0;
  width:35vw;
  margin-right: 20%;
    font-family: 'ApfelGrotezk-Mittel';
    font-size: 24pt;
    padding-top: 1%;
    padding-bottom: 1%;
}

.project_type{
  
  width:15vw;
    font-family: 'ApfelGrotezk-Regular';
font-size: 24pt;
    padding-top: 1%;
    padding-bottom: 1%;
}




.project-content{
  padding: 0 auto;
  display: flex;
  flex-direction: row;
    background-color: #6dc6ba;
    position: relative;
}

.img{
    width: 85%;
    display: block;
}

.luogo{
    
}
.text_project{
  color: #6dc6ba;
  width: 30%;
    font-family: 'ApfelGrotezk-Regular';
    font-size: 18pt;
    position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 85%;
  opacity: 0;
  transition: .5s ease;
  background-color: #6dc6ba;
}

.casa{
    width:50%;
    display: block;
    padding-left: 25%;
    padding-top: 15%;
}
.text_project:hover .overlay{
    opacity: 1;
}

.text {
  color: #f0f0f0;
  font-size: 24pt;
    font-family: 'ApfelGrotezk-Mittel';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.data_project{
  margin-top: 300px;
    color: black;
}


.play_project{
  color: black;
  width: 70%; 
  
    font-family: 'ApfelGrotezk-Regular';
    font-size: 24pt;
    margin-right: 5%;
    background-color: #6dc6ba;
}

.descrizione{
    width: 100%;
    font-family: 'ApfelGrotezk-Regular';
    font-size: 14pt;
    background-color: #6dc6ba;
    
}

.accordion-container .accordion-title {
  position: relative;
  margin: 0;
  padding: 0em 0em 0em 0.625em;
  background-color: #6dc6ba;
  font-size: 1.25em;
  font-weight: normal;
  color: black;
  cursor: pointer;
  border-top: 2px solid black;

  display: flex;
  flex-direction: row;
    
}

.accordion-container .accordion-title:hover{
    background-color: #6dc6ba;
    color: #f0f0f0;
    
}
.accordion-container .accordion-title:active,
.accordion-title.open {
  background-color: #6dc6ba;
    
}

.accordion-container .accordion-title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  transform: rotate(90deg);
  background:  black;
  color: black;
  border: 1px solid black;
  transition: all .3s ease-in-out;
  
}

.accordion-container .accordion-title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 25px;
  width: 15px;
  height: 2px;
  background:  black;
  border: 1px solid black;
  transition: all .2s ease-in-out;
    
}



.accordion-container .accordion-title.open::before {
  transform: rotate(180deg);
}

.accordion-container .accordion-title.open::after {
  opacity: 0;
}

.accordion-content {
  background-color: #6dc6ba;
  padding-left: 2.3125em;
}

/* CSS for Demo */
.accordion-container {
  max-width: 100%;
  margin: 0 auto;
    background-color: #6dc6ba;
}

.settantadue_foot{
    color:  #1d1f1d;
    font-size: 90px;
}


.container_footer{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f0f0ef;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container_contact{
  justify-content: center;  
  display: flex;
  flex-direction: row;
}

.contact_foot{
    color: #E3C6E0;
    padding-left: 6%;
    padding-right: 6%;
}

.contact_foot:hover{
    color: #1d1f1d;
}
a {
    text-decoration: none;
    color: black;  
    
}

a:hover{
    color: #F0F0F0;
}

footer{
    width: 100%;
    
   
    position: fixed;
    left: 0;
    bottom: 0;
    
   
    
}
.log{
    padding-left: 5%;
    width:100px;
}

.foot_container{
    background-color: #6dc6ba;
    font-family:  'ApfelGrotezk-Mittel';
    font-size: 16pt;
   padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

.contatti {
    
    font-family: 'ApfelGrotezk-Mittel';
    font-size: 18pt;
    color: #f0f0f0;
    padding-right: 20%;
}


.mail{
    padding-right: 10%;
}

.ig{
    padding-left:10%;
    }
}


@media only screen and (max-width: 900px) {

    h1, h2, h3, h4, h5 { font:22px/1.2rem 'Archivo'; line-height: 1.5; margin: 0px;}
    
    .testa{
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .container_logo{
        padding-top: 40%;
        padding-bottom: 40%;
    }
    .logo{
    width:40px;
    }    
    .number{
    margin-right: 13%;
    }
    
    .artist{
    width:85vw;
    margin-right: 10%;
    font-size: 30px;
    }

    .project_type{
    margin: 0;
    width:95vw

    }
    
    .project-content{
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    }

    .accordion-container .accordion-title{
    flex-direction: column;    
    } 
    
    .accordion-content {
    background: #E3C6E0;
    padding-left: 5vw;
    padding-right: 5vw;
    }
    
    .text_project{
    color: #1d1f1d;
    width: 90vw;
    }

    .data_project{
    margin-top: 15px;
    margin-bottom: 15px;
    }


    .play_project{
    color: #1d1f1d;
    width: 90vw;
    padding-left: 0;
    }
    
    .settantadue_foot{
      font-size: 3rem;
    }
    
    .container_contact{
      flex-direction: column;
    }
    
    .contact_foot{
        margin-top: 15px;
    }
}
